<% provide(:title, 'All') %>
<h1>Reports</h1>

 <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> ChemID </th>
      <th> Date Checked Out </th>
      <th> Date Returned </th>
    </tr>
  </thead>
  <tbody>
    <% Item.all.sort.reverse.each do |item| %>
     <tr>
       <td><%= item.name %></td>
       <td><%= item.chemID %></td>
       <td><%= item.created_at.to_s.split(' ').shift %></td>
       <% if(item.created_at==item.updated_at) %>
       <td> Not Returned </td>
       <% else %>
       <td><%= item.updated_at.to_s.split(' ').shift %></td>
       <% end %>
       <td><%= link_to "delete", item, method: :delete, data: { confirm: "You sure?" } %></td>
     </tr>
    <% end %>
  </tbody>
</table>